[submodule "imgui"]
	path = imgui
	url = https://github.com/mooch443/imgui.git
[submodule "cnpy"]
	path = cnpy
	url = https://github.com/mooch443/cnpy.git
[submodule "flat_hash_map"]
	path = flat_hash_map
	url = https://mooch443@github.com/mooch443/flat_hash_map.git
[submodule "robin-hood-hashing"]
	path = robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing.git
